#crossboard div {
    line-height: 1;
}

#crossboard span {
    display: inline-block;
    margin: 1px;
    font-size: 16px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

#crossboard span.empty {
   background: black;
}