#crossboard {
    display: inline-block;
}

#crossboard div {
    line-height: 1;
}

#crossboard span {
    display: inline-block;
    position: relative;
    margin: 1px;
    font-size: 18px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

#crossboard .mask:before {
    position: absolute;
    content: '';
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#crossboard span.empty {
    background: black;
}

#crossboard .first-tile::after {
    position: absolute;
    content: attr(question);
    top: -2px;
    left: 0;
    color: red;
    font-size: 12px;
}

#questions {
    display: inline-block;
    vertical-align: top;
}

#questions ul {
    list-style: none;
}